.name {
	margin-bottom:0;
}

h1{
	line-height: 1.2em;
}

hr{
	border: none;
	border-top: solid 3px #bde1ed;
	color: #5cb4d3;
	background-color: #5cb4d3;
}

.name {
	display:inline;
}

.social{
	display:inline;
	float:right;
	margin-top:2em;
}

.pdf {
}

.skills {
	clear:both;
}

#work {
	margin-bottom:0;
}

span {
	color:white;
	font-style:bold;
}

.abs { position: absolute; }

.fixed {
position: fixed;
top: 150px !important;}

#sidebar {
top: 150px;
left: 0;
height: 240px;
width: 60px;
background-color: #bde1ed;
border-radius:3px;
opacity:.5;}

#sidebar img:hover{
	background-color:black;
}


.wrapper {
height: 1500px;
padding: 20px;}

#email {
	font-size:14px;

}

#email_center{
	line-height:1em;
	margin-bottom:0;
}
p#work, p#skills{
	font-size:1.25em;
	margin-bottom:0;
}

a.pdf{
	padding-top:.5em;
	padding-bottom:.5em;
	padding-left:3em;
	padding-right:3em;
	color:white;
	font-size:1.25em;
}


#resume{
	padding:10px;
	/*height:90px;
	width:85px;*/
	text-align:center;
	margin-top:30px;
	border: 1px dashed #bde1ed;

}

.disc{
	margin-left:2em;
}

#resume:hover {
	background-color:black;
	opacity:.2;
}

li {
	color:white;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


 a.rslides_nav.rslides1_nav.prev{
 	font-size:4em;
 	color:black;
 	opacity:.5;
 	
 }

 a.rslides_nav.rslides1_nav.next{
 	font-size:4em;
 	float:right;
 	color:black;
 	opacity:.5;
 	
 }

  a.rslides_nav.rslides1_nav.next:hover{
  	opacity:1;
  }

  a.rslides_nav.rslides1_nav.prev:hover{
  	opacity:1;
  }

#contact_me {
	display:inline;
}

.bottom{
	margin-top:0;
}

.portfolio{
	max-width:700px;
	margin:0 auto;
}

.my_pic {
	border-radius:200px;
	float:right;
	height:20em;
	border:5px #bde1ed solid;
	opacity:.8;
}